<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label 'Post Title' %><br>
    <%= form.text_field :title, :class => 'form-control' %>
  </p>
 
  <p>
    <%= form.label 'Compose your post below, or copy paste it from elsewhere - HTML is accepted but escaped.' %><br>
    <%= form.text_area :text, :class => 'ckeditor' %>
    
  </p>
 
  <p>
    <%= form.submit 'Submit Changes', :class => 'btn btn-success' %>
  </p>
 
<% end %>