<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Older Posts & Stuff
      </h3>


    <% @articles.each do |article| %>

      <div class="blog-post">
        <h2 class="blog-post-title"><%= article.title %></h2>
        <p class="blog-post-meta">

          <div class="timestring mb-1 text-muted">
            <%= article.created_at %>
          </div>
          
          <br />

          <%= truncate( article.text, length: 500) %>

          <br /><br />

          <%= link_to 'Continue Reading...', article_path(article) %>
      </div><!-- /.blog-post -->
      <br /><br /><br /><br /><br />

    <% end %>


      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About Me</h4>
          <div class="thumbnails" style="text-align: center;">
            <%= link_to image_tag "profile_pic.jpg", :style => "width: 125px; height: 125px;border-radius: 5px;" %>
          </div>
          <br>
          <p class="mb-0">My name is Alex. I've been told I have a very punchable face. I am a <a href="https://www.bacb.com/bcaba/">BCaBA</a>. I like to tinker with <a href="https://www.arduino.cc">Arduino</a>, <a href="https://www.laravel.com">Laravel</a>, <a href="https://www.ruby-lang.org">Ruby</a> / <a href="http://www.rubyonrails.org">Rails</a>, and generally dinking around with technology in an attempt to make <i>teaching easier for teachers</i>.</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2018</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://www.github.com/harblz">GitHub</a></li>
          <li><a href="https://twitter.com/harblz">Twitter</a></li>
          <li><a href="https://youtube.com/user/harblz">YouTube</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</main><!-- /.container -->